.div1 {
    text-align: end;
}
.div2 {
    display: flex;
    margin: 15px;
    gap: 10px;
}

.div3 {
    width: calc(50% - 10px);
}

#result {
    margin: 20px;
    font-size: 10pt;
}

@font-face {
    font-family: 'HANBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.kor {
    font-family: 'HANBatang', serif;
}


.vie {
    font-family: "Times New Roman", Times, serif;
}

